<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="row">
<div class="col-xs-12 col-md-8 col-md-offset-4">
  <a href="#" class="thumbnail">
    <img src="https://wallpaperbrowse.com/media/images/geforce-now-gamewall-v2.png" alt="...">
  </a>
</div>

</div>
	  <div class="row">
	    <div class="col-sm-6 col-md-4 col-md-offset-4">
        <h1 class="text-center">GAME DEBATE</h1>
	        <div>
	          <form action="/login" method="POST">
	            <input type="text" name="username" placeholder="Usuario" required="required" autofocus="autofocus" class="form-control"/>
	            <input type="password" name="password" placeholder="Contrasena" required="required" class="form-control"/>
	            <button type="submit" class="btn btn-lg btn-primary btn-block">Ingresar</button><span class="clearfix"></span>
	          </form>
	        </div>
	        <a href="/signup" class="btn btn-lg btn-info btn-block">Registrarse</a>

	        <%# If an error occurs, a message will asynchronously appear. %>
	        <% if (message.length > 0) { %>
	        	<div>
	        		<h1 class="text-center"><%= message %></h1>
	        	</div>
	        <% } %>
	    </div>
	  </div>
	</div>
  </body>
</html>
